@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    margin: left 100px; right: 100px;
    background-color:darkgray
}

.main-menu{
  font-family: 'Work Sans', sans-serif;
  display:inline;
  padding:3px;
  color: #be8b2a;
}

a{
  font-size:15px;
  text-decoration:none;
  color:#f05648;
}
  
button:hover{
  opacity:0.8;
  cursor:pointer;
}
  
a:hover{
  color:#be8b2a;
}

td{
  border-radius: 0px;
}

#logo{
  float: left;
  clear: both;
  align-items: center;
}

#logotxt{
  float: right;
  clear: both;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

nav{
  clear: both;
  margin-top: 20px;
}

#pagecontent{
  clear: both;
}
